@font-face {
  font-family: pierSansBlack;
  src: url(../Fuentes/PierSans-FreeForPersonalUse/PierSans-Black.otf);
}
@font-face {
  font-family: pierSansLight;
  src: url(../Fuentes/PierSans-FreeForPersonalUse/PierSans-Light.otf);
}


.banner__titulo{
  position: absolute;
  color: #ffff;
  width: 60%;
  font-size: xx-large;
  font-weight: bolder;
  left: 45%;
  top: 60%;  
  
}

.imagen-titulo{
  background-image: url("../img/contactanosmoto2.jpg");
  background-position: bottom;
  background-repeat: none;
  background-size: cover;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  
}

.imagen-titulo__texto{  
  margin-bottom: 1.5rem;
  width: 85%;
  color: #FFFFFF;
  border-bottom: 1px solid #DC661F;
  font-family: pierSansBlack;
  font-size: large;
}

.banner__breadcrumb {
 
position: absolute;
color: #ffff;
    width: 60%;
    position: absolute;    
    left: 47%;
    top: 90%;
    text-align: center;
    transform: translate(-45%, -1407%);
   }

.breadcrumb__items{
    display: flex;
    justify-content: center;
    font-size:xx-small;
    padding-right: 3.2em;
    
}
.breadcrumb-item+.breadcrumb-item::before{
    content: "-";
    color: #ffff;
}
.breadcrumb-item.active{
    color: #ffff;
}
.home{
    color: #ffff;
    text-decoration: none;
}


.breadcrumb-item+.breadcrumb-item::before{
  content: "-";
}

.portada-img {
    margin-top: -0.01rem;
    margin-left: -0.01rem;
}

.informacion {
    padding-top: 2rem;
    text-align: center;
}

.titulos {
    font-weight: bolder;
    color: #DC661F;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.descripcion {
    margin-bottom: 1rem;
}

.area {
    width: 400px;
    height: 400px;
    border-radius: 50px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
     }
  
  .area h2 {
    font-size: 24px;
    color: #DC661F;
    margin-top: 25px;
    text-align: center;
  }

  .area h2 span {
    display: block;
  }
  
  .input-ancho {
    width: 100;
  }

  .btn-ancho {
    width: 70%;
  }

  .formulario-ancho {
    width: 80%;
    max-width: 600px;
  }

  .btn {
    background-color: #DC661F;
    color: white;
  }

  .titulo-nosAcreditan {
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
    justify-content: ar;
  }

  .imagenes-nosAcreditan {
    justify-content: space-around;
    width: 100%;
  }

  .imagenTrans {
    scale: 2;
  }


  @media screen and (min-width:768px) {

    .imagen-titulo{
      height: 258px;
    }
    .imagen-titulo__texto{
      font-size: 48px;
      top: 72%;
  }
  
  
  .banner__breadcrumb{
      top: 79%;
  }
  .breadcrumb__items{
      font-size: small;
  }
  }

  @media screen and (min-width:992px) {
    .banner__breadcrumb{
      top: 120%;
  }
  }