@font-face {
    font-family: pierSansBlack;
    src: url(../Fuentes/PierSans-FreeForPersonalUse/PierSans-Black.otf);
}
@font-face {
    font-family: pierSanslight;
    src: url(../Fuentes/PierSans-FreeForPersonalUse/PierSans-Light.otf);
}

main{
    background:url(../img/fondo.jpg)
}
footer{
    width:100%;
    background-color: gray-lighter;
}


#imagen-titulo-categorias{
    background-image: url("../img/fondocategoriasencabezado.jpg");
    background-size: 100%;
    background-color: black;
    background-repeat: no-repeat;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.imagen-titulo__texto-categorias{  
    margin-bottom: 1.5rem;
    width: 85%;
    color: #FFFFFF;
    border-bottom: 2px solid #DC661F;
}

#imagen-titulo__texto-categorias{
    font-family: pierSansBlack;
    margin-bottom: 1.5rem;
    width: 85%;
    color: #FFFFFF;
    border-bottom: 2px solid #FAEA28;
}
.breadcrumb-item+.breadcrumb-item:before{
    content: "-";
    color: #ffff;
}
.breadcrumb-item.active{
    color: #ffff;
}

#breadcrumb-nav-categorias{
    color: #FFFFFF;
    font-size: small;
}

.barranaranja{
    width: 85%;
    color: #DC661F;
    font-weight: bolder;
    font-size: 1rem;
    margin-top: -0.5rem;
}

.tituloescrito{
    z-index: 2;
    font-size: 3rem;
    font-weight: bolder;
    margin-top: -8.5rem ;
    text-align: center;
    color: white;
    border-bottom:solid;
    border-width: 1rem;
    border-color: orange;
    
}
.spacetorepair{
    margin-top: 8.5rem;
}
a{
    color: white    ;
}

.imagen_A1_2,
.imagen_B1_2,
.imagen_C1_2{
    align-items: center;
    text-align: center;
   
}



.contenido_A1,
.contenido_B1,
.contenido_C1{
    padding-top: 5%;
    justify-content: justify;
    vertical-align: middle;
    z-index: 2;
    padding-bottom: 5%;
    
}

.B1_automovil{    
    text-align: right;
    height: 100%;
}

.imagen_B1{    
    text-align: right;
}


.subtitulos{
    padding-top: 5px;
    text-align:center;
    color:rgb(255, 103, 48);
    font-weight: bolder;
}

.descripciones{
    text-align:justify;
}

.descripciones_horas{
    margin-top: 1px;
    margin-bottom: 1px;
    text-align:center;
}