main{
    background:url(../img/fondo.jpg)
}
footer{
    width:100%;
    background-color: gray-lighter;
}
.imagen_portada{
    height:10%;
    margin-top: -.1rem;
    width: 99%;
    text-align:center; 
    z-index: 1;
}
.tituloescrito{
    z-index: 2;
    font-size: 3rem;
    font-weight: bolder;
    margin-top: -8.5rem ;
    text-align: center;
    color: white;
    border-bottom:solid;
    border-width: 1rem;
    border-color: orange;
    
}
.spacetorepair{
    margin-top: 8.5rem;
}
a{
    color: white    ;
}

.imagen_A1_2,
.imagen_B1_2,
.imagen_C1_2{
    align-items: center;
    text-align: center;
   
}



.contenido_A1,
.contenido_B1,
.contenido_C1{
    padding-top: 5%;
    justify-content: justify;
    vertical-align: middle;
    z-index: 2;
    padding-bottom: 5%;
    
}

.B1_automovil{    
    text-align: right;
    height: 100%;
}

.imagen_B1{    
    text-align: right;
}


.subtitulos{
    padding-top: 5px;
    text-align:center;
    color:rgb(255, 103, 48);
    font-weight: bolder;
}

.descripciones_horas{
    margin-top: 1px;
    margin-bottom: 1px;
    text-align:center;
}