@font-face {
    font-family: pierSansBlack;
    src: url(../Fuentes/PierSans-FreeForPersonalUse/PierSans-Black.otf);
}
@font-face {
    font-family: pierSansLight;
    src: url(../Fuentes/PierSans-FreeForPersonalUse/PierSans-Light.otf);
}

#banner{
    position: relative;
}


#banner__imagen{
    background: url(../img/conducir\ 1.svg);
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 148px;
    
}


#banner__titulo{
    color: #ffffff;
    width: 98%;
    position: absolute;
    font-family: pierSansBlack;
    left: 50%;
    top: 65%;
    text-align: center;
    transform: translate(-50%, -22%);/*centrar elemento horizontal y verticalmente en su contenedor*/
    margin-right: 2em;
    
}
#banner__linea{
    border-top: 1px solid #FAEA28;
    height: 2px;
    width: 80%;
    padding: 0;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0.4rem;
    transform: translate(-50px, -30px);

}
.banner__breadcrumb1 {
  
   position: relative;
    color: #ffff;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 88%;
    text-align: center;
    transform: translate(-52%, -46%);
}

.breadcrumb__items1{
    display: flex;
    justify-content: center;
    font-size:xx-small;
    padding-right: 3.2em;
    
}
.breadcrumb-item +.breadcrumb-item::before{
    content: "-";
}
.breadcrumb-item.active{
    color: #ffffff;
}
.home{
    color: #ffffff;
    text-decoration: none;
}
.nosotros__titulo{
    margin-top: 0.8em;
    padding-left: 0.8em;
    color: #DC661F;
    font-size: 40px;
    font-family: pierSansBlack;
    
}
.nosotros__linea {
    border-top: 1px solid black;
    height: 2px;
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: 0em;
    margin-bottom: 0.4rem;
  }
  
.nosotros__info{
    font-family: pierSansLight;
    font-size: 0.6em;
    padding-left: 1.4rem;
    margin-top: 1rem;
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0rem;
    padding-bottom: 0.9rem;
    padding-top: 1.7rem;
}
.container__boton {
    background: #DC661F;
    border: none;
    color: #FFFFFF;
    font-size: 0.7em;
    font-family: pierSansLight;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    width: 148px;
    height: 20px;
}
.container__link{
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 0rem;
}
.container__boton:hover{
    cursor: pointer;/*cambia de flecha a mano*/
    color: #FFFFFF;
    background: #E68E59;
    
}
.container__link:active{
    color: #FFFFFf;
    background: #E68E59;
    
}
.container__imagen{
    background: url(../img/BLANCO\ 1.png);
    background-size: cover;
    width: 50%;
    height: 148px;
    float: right;
    max-width: 100%;
}
.container2{
    height: 11em;
    position: relative;
}
.container2__fondo{
    background: url(../img/fondoNaranja.png);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 180px;
    
}

.container2__titulo1{
    color: #ffffff;
    width: 98%;
    position: absolute;
    font-family: pierSansBlack;
    left: 50%;
    top: 105%;
    transform: translate(-50%, -620%);/*centrar elemento horizontal y verticalmente en su contenedor*/
    margin-right: 2em;
    padding-left: 0.8em

}
.container2__titulo2{
    color: #FAEA28;
    width: 98%;
    position: absolute;
    font-family: pierSansBlack;
    FONT-SIZE: 40px;
    left: 50%;
    top: 109%;
    transform: translate(-50%, -360%);
    margin-right: 2em;
    padding-left: 0.5em;
}
.container2__info{
    font-family: pierSansLight;
    font-size: 0.6em;
    padding-left: 1.4rem;
    margin-top: 3rem;
    transform: translate(1%, -200%);
}

@media screen and (min-width:768px) {
    #banner__imagen{
        height: 258px;

    }
    #banner__titulo{
        font-size: 48px;
        top: 72%;
    }
    #banner__linea{
        margin-left: 8em;
    }
    
    .banner__breadcrumb1{
        top: 95%;
    }
    .breadcrumb__items1{
        font-size: small;
    }
    .nosotros__titulo{
        font-size: 64px;
        text-align: center;
        padding-left: inherit;
    }
    .nosotros__linea{
        margin-right: 5em;
    }
    .nosotros__info-imagen{
        background: url(../img/equipoCeaprende.jpg);
        background-size: cover;
        position: relative;
        width: 244%;
        height: 154px;
        left: -23px;
        float: right;
        max-width: 100%;
        border-radius: 1.3rem;
    }
    .nosotros__seccion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 0rem;
        padding-bottom: 0.9rem;
        padding-top: 1.7rem;

    }
    .nosotros__info{
        font-size: 14px;
    }
    .container{
        justify-content: space-around;
        padding-bottom: 2rem;
    }
    .container__imagen{
        height: 300px;
        left: 80px;
        position: relative;
    }
    .container__boton{
        font-size: 1.2em;
        width: 129px;
        height: 70px;
    }
    .container2{
        height: 14em;
    }
    .container2__fondo{
        height: 229px;
    }
    .container2__titulo1{
        position: relative;
        top: 59%;
        font-size: 48px;
    }
    .container2__titulo2{
        position: relative;
        top: -6%;
        font-size: 55px;
    }
    .container2__info{
        font-size: 14px;
        transform: translate(1%, -447%);
    }
  } 
  @media screen and (min-width:992px) {
    .nosotros__info-imagen{
        width: 300px;
        height: 380px;
        padding-right: 30rem;
        padding-left: 6rem;
        
    }
    .nosotros__info{
        font-size: 18px;
    }
    .container__imagen{
        
        left: 190px;
        height: 553px;
        width: 617px;
        
    }
    .container2__info{
        font-size: 18px;
        transform: translate(1%, -322%);
        margin-top: 1rem;
    }
  }