@font-face {
  font-family: pierSansBlack;
  src: url(Fuentes/PierSans-FreeForPersonalUse/PierSans-Black.otf);
}
@font-face {
  font-family: pierSansLight;
  src: url(Fuentes/PierSans-FreeForPersonalUse/PierSans-Light.otf);
}


.custom-size {
  background-color: #DC661F ;
  border-radius: 80%;
  width: 20%;
  height: 7%;
  
}

.slider__tarjetas{
  position:relative;
  align-items: center;
  
}
.slider__titulo{
  font-family:pierSansBlack;
  text-align: center;
}

.slider__categoria--titulo{
  font-family: pierSansLight; 
  font-size: 40px;
}

.slider__categoria--descripcion{
font-family: pierSansLight;
font-size: 18px;
}

@media screen and (min-width:768px) {
  .slider__tarjetas{
    padding-left: 30%;
  }
  
} 
@media screen and (min-width:992px) {
  
  
}