@import "./header.css";
@import "./footer.css";
@import "contactenos.css";


@font-face {
    font-family: PierSans;
    src: url('../Fuentes/PierSans-FreeForPersonalUse/PierSans-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    font-family: PierSans;
}