.contenedor-vehiculos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #DC661F;
}

.titulo__texto {
    color: #1E1E1E;
}

.titulo__texto-color {
    color: #DC661F;
}

.boton__texto{
    background-color: #DC661F;
    color: #FAFAFA;
}

.contenedor-acreditan {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #1E1E1E;
}

.imagenes-acreditan{
    display: flex;
}

.imagenes-acreditan__img{
    width: 50%;
}