.slider-container {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider-container .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 10);
}

.slider-container .slide {
    width: 200px;
}

.slider-container .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 5));
        -webkit-transform: translateX(calc(-200px * 5));
    }
}